<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>送货时间</key>
	<array>
		<dict>
			<key>text</key>
			<string>48小时内</string>
			<key>code</key>
			<string>1</string>
		</dict>
		<dict>
			<key>text</key>
			<string>1-5天</string>
			<key>code</key>
			<string>2</string>
		</dict>
		<dict>
			<key>text</key>
			<string>5-10天</string>
			<key>code</key>
			<string>3</string>
		</dict>
		<dict>
			<key>text</key>
			<string>10天以上</string>
			<key>code</key>
			<string>4</string>
		</dict>
	</array>
</dict>
</plist>
